<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->

<div ng-controller="HomeCtrl">
	 	<div id="headerwrap" class="img-responsive" style = "background-image: url('assets/img/browser.jpg'); background-size: cover">
	    <div class="container">
			<div class="row">
				<div class="col-lg-7 col-lg-offset-3" style = "float: right">
				</br>
					<h1>Welcome to the site of....</h1>
					<h1>Ruoxi Zhao</h1>
					<hr class="divider">
					<h3>I am a Front-end Website Developer</h3>
					<a class="btn btn-large btn-primary" href="contact.html">Get In Touch</a>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<!--<img src="assets/img/browser.png" class="img-responsive">-->
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SELF INTRODUCTION
	 ***************************************************************************************************************** -->
	 <div id="service" >
	 	<div class="container">
 			<div class="row">
 				<div class = "col-md-9">
	 				<div>
	 					<h1>Who is this girl?</h1>
	 					<p>Good… question… Quite frankly, that’s something I’ve been trying to figure out my whole life, but I think I’m getting closer. Here’s what I’ve come up with so far.</p>
	 					<p>I'm a developer originally from China. In Augest of 2015, I graduated from Syracuse University with Master's degrees in Computer Science, I learned that I had a passion for developing functional, user-friendly digital solutions to various problems. I'm currently looking jobs in Software Engineering area.
			            </p>

			            <p>
			              While my stack of choices are c++ and javascript, I pride myself on my ability to quickly learn the languages, tools, and/or frameworks best for solving a problem. When I'm not coding or designing, I'm probably traveling, reading a book, or recording an episode for <a href="https://www.youtube.com/channel/UCCTaIhNrDVB-N2BSRN4sFdQ">my channel</a>.
			            </p>

			            <p>
			              I'm currently available for full time work, so if I can be of service to you, please do not hesitate to <a href="mailto:roxiezhao.rz@gmail.com">contact me</a>. Also, feel free to <a href="./assets/file/Resume.docx">check out my résumé!</a>
			            </p>
	 				</div>
	 				</br>
	 				<div class="row nopadding">
                  <div class="col-md-12 nopadding">
                     <h3>About me</h3>
                     <div class="quote">
                        <h5 class="text-primary"><strong>Hard-working person on the way to the success...</strong></h5>
                        <div class="dividewhite1"></div>
                        <!--<p class="small">-->
                           <!--Customize your website as you want using different colors and 100% free fonts.-->
                        <!--</p>-->
                        <div class="dividewhite2"></div>
                     </div>
                  </div>
               </div>
               	</br>


	 				<div class="row nopadding">
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-sm-1 col-md-3">
                        	<i class="fa fa-picture-o fa-lg"></i>
                        </div>
                        <div class="col-sm-11 col-md-9">
                           <h5 class="font-accident-one-bold uppercase text-info"><strong>Creative</strong></h5>
                           <p class="small">
                              I always have a unique perspective when approaching an issue due to my broad range of interests and hobbies. Creativity is the source of differentiation and therefore, at the root of competitive advantage.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-sm-1 col-md-3">
                        	<i class="fa fa-bar-chart-o fa-lg"></i>
                        </div>
                        <div class="col-sm-11 col-md-9">
                           <h5 class="font-accident-one-bold uppercase text-info"><strong>Motivated</strong></h5>
                           <p class="small">
                              I work enthusiastically. I have enough motivation for myself and my department. I love what I do, and it’s contagious.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
                  <div class="col-md-4 infoblock nopadding">
                     <div class="row">
                        <div class="col-sm-1 col-md-3">
                        	<i class="fa fa-smile-o fa-lg"></i>
                        </div>
                        <div class="col-sm-11 col-md-9">
                           <h5 class="font-accident-one-bold uppercase text-info"><strong>Fun</strong></h5>
                           <p class="small">
                              I believe that we are way more productive when we are working with people with which we enjoy spending time. When the situation gets tough with a customer, a touch of humour can save the day.
                           </p>
                        </div>
                     </div>
                     <div class="divider-dynamic"></div>
                  </div>
               </div>

 				</div> 
 				<div class = "col-md-3">
		 			<h3>Recent Activities</h3>
		 			<div class="hline"></div>
		 			<p><a href="#" class="fa fa-angle-right"> Wordpress</a></br></p>
 				</div>				
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->
	 
	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="portfoliowrap">
        <h3>LATEST WORKS</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio row" style = "position:relative">
            	<div class="he-wrap tpl6 pofolioCollage col-lg-4 col-md-4 col-sm-4">
					<img src="assets/img/agency.jpg" alt="" class = "portfolio-img">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                	        <h3 class="a1" data-animate="fadeInDown">Employee Management UI</h3>
                            <p>(Javascript, AngularJS, ExpressJS, MongoDB)</p>
                            <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_09.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                       	</div><!-- he bg -->
					</div><!-- he view -->		
				</div><!-- end col-12 -->
                
                <div class="he-wrap tpl6 pofolioCollage col-lg-4 col-md-4 col-sm-4">
					<img src="assets/img/portfolio/portfolio_02.jpg" alt="" class = "portfolio-img">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Social Media Website</h3>
                        	<p>(.NET MVC, C#, SQL, WPF, RestAPI)</p>
                            <a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_02.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                            <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
					</div><!-- he view -->
				</div>	
					
        	    <div class="he-wrap tpl6 pofolioCollage col-lg-4 col-md-4 col-sm-4">
					<img src="assets/img/portfolio/portfolio_03.jpg" alt="" class = "portfolio-img">
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
							<h3 class="a1" data-animate="fadeInDown">Moble Application</h3>
							<p>(Android, Java, Apache)</p>
							<a data-rel="prettyPhoto" href="assets/img/portfolio/portfolio_03.jpg" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
							<a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                        </div><!-- he bg -->
					</div><!-- he view -->		
				</div><!-- he wrap -->

            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->
	 <br><br>
<!-- *****************************************************************************************************************
	 LIFE AND WORK
	 ***************************************************************************************************************** -->
	 <div class="divider-dynamic"></div>
	 <div class = "row" id="fa">
	 	 <div class = "col-md-9 col-lg-offset-1 centered">
			 <div class="col-md-6">
			 	<i class="fa fa-heart-o"></i>
			 	<h4>Life On Earth</h4>
			 	<p>"25 years and my life is still, trying to get up that great big hill of hope, for a destination."</p>
			 	<p> - 4 Non Blondes 'What's Going On'</p>
			 	<p><br/><a href="blog.html" class="btn btn-theme">More Info</a></p>
			 </div>
			 <div class="col-md-6">
			 	<i class="fa fa-desktop"></i>
			 	<h4>In The Coding World</h4>
			 	<p>"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."</p>
			 	<p> - Martin Golding</p>
			 	<p><br/><a href="portfolio.html" class="btn btn-theme">More Info</a></p>
			 </div>	
		</div>
	 </div>
	 <div class="divider-dynamic"></div>
	 <div class="divider-dynamic"></div>
	 <br><br><br><br><br><br>
	 

	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 <div id="twrap">
	 	<div class="container centered">
	 		<div class="row">


	 			<div id="carousel-example" class="carousel slide" data-ride="carousel">
				    <!-- Wrapper for slides -->
				    <i class="fa fa-comment-o"></i>
				    <div class="row">
				        <div class="col-xs-offset-3 col-xs-6">
				            <div class="carousel-inner">
				                <div class="item active">
				                    <div class="carousel-content">
				                        <div>
				                            <h3>#1</h3>
				                            <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
				                        </div>
				                    </div>
				                </div>
				                <div class="item">
				                    <div class="carousel-content">
				                        <div>
				                            <h3>#2</h3>
				                            <p>This is another </p>
				                        </div>
				                    </div>
				                </div>
				                <div class="item">
				                    <div class="carousel-content">
				                        <div>
				                            <h3>#3</h3>                            
				                            <p>This is the third item.</p>
				                        </div>
				                    </div>
				                </div>
				                
				            </div>
				        </div>
				    </div>
				    

				</div>
	 		</div>
	 	</div>
	 </div>
	 
	</div>