<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
        <link rel="import" href="postNoteBundle.html">
    </head>
    <body>
        <div id="body">
        <div id="postBoard">
        	<div class="banner">
        		<div id="addNote">
        			<div id="plusIcon"></div>
        			<div id="addText">Message</div>
        		</div>
        	</div>

            <div id="gallary"></div>
            <div class="slider-for ">
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                </div>
                <div class="slider-nav">
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                    <div> <img src="./res/2.jpg"></div>
                    <div> <img src="./res/3.jpg"></div>
                    <div> <img src="./res/4.jpg"></div>
                </div>
        	<div id="board">	

        	</div>

            <div id="editWindow">
                <div id="editBanner" class="editColorBanner red"></div>
                <div class="editWindowContainer">
                    <div id="colorSelector">
                        <div id="redSqure" class="squre red"></div>
                        <div id="greenSqure" class="squre green"></div>
                        <div id="yellowSqure" class="squre yellow"></div>
                        <div id="blueSqure" class="squre blue"></div>
                    </div>
                    <div class="editContent">
                        <input class="editTile" type="text" placeholder="Untitled">
                        <textarea class="editBody" placeholder="Just start typing here"></textarea>
                    </div>
                    <div class='editButtonGroup'>
                        <div id="cancelButton" class="editButton">Cancel</div>
                        <div id="addButton" class="editButton">Add</div>
                    </div>
                </div>
            </div>

            <div class="deleteWindow">
                <div class="deleteTextGroup">
                    <div class="deleteTitle">Delete Note</div>
                    <div class="deleteInfo">Are you sure you want to delete this note?</div>
                </div>
                <div class='deleteButtonGroup'>
                    <div id="cancelDelete" class="deleteButton">Cancel</div>
                    <div id="deleteButton" class="deleteButton">Delete</div>
                </div>
            </div>

        	</div>
        </div>
        </div>
        <script src="./js/main.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="slick/slick.min.js"></script>
        <script type="text/javascript">
            $('.autoplay').slick({
              slidesToShow: 1,
              slidesToScroll: 2,
              autoplay: true,
              autoplaySpeed: 4000,
            });
             $('.slider-for').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
              fade: true,
              asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
              slidesToShow: 7,
              slidesToScroll: 1,
              asNavFor: '.slider-for',
              dots: true,
              centerMode: true,
              focusOnSelect: true
            });
        </script>
    </body>
</html>
